{% extends 'base.html' %}
{% block title %} All Pokemon {% endblock %}

{% block content %}
  {% include "includes/nav.html" %}
  <div class="center-container">
    <h1>Random pokemon list</h1>
  </div>
  <div class="form_container">
    
    <div class="pokemon-list">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sprite</th>
            <th scope="col">Pokedex Number</th>
            <th scope="col">Pokemon Name</th>
            <th scope="col">Type</th>
            <th scope="col">Base HP</th>
            <th scope="col">Base Defense</th>
            <th scope="col">Base Attack</th>
            <th scope="col">Ability</th>
          </tr>
        </thead>
        <tbody>
          {% for pokemon in pokemon_list %}
            <tr>
              <td class="{{ pokemon.element }}-card"><img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }} Sprite"></td>
              <td class="{{ pokemon.element }}-card">{{ pokemon.pokedex_number }}</td>
              <td class="{{ pokemon.element }}-card">{{ pokemon.pokemon_name }}</td>
              <td class="{{ pokemon.element }}-card">{{ pokemon.element }}</td>
              <td class="{{ pokemon.element }}-card">{{ pokemon.base_hp }}</td>
              <td class="{{ pokemon.element }}-card">{{ pokemon.base_defense }}</td>
              <td class="{{ pokemon.element }}-card">{{ pokemon.base_attack }}</td>
              <td class="{{ pokemon.element }}-card">{{ pokemon.abilities }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}