{% extends 'base.html' %}
{% block title %} Pokedex {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../static/styles/styles.css">
{% endblock %}
{% block content %}
  {% include "includes/nav.html" %}

    <div class = 'form_container'>
    <div class = 'pokeball_img'>
    <form class='catch_release' method="POST" action="{{ url_for('main.catchpokemon', user_id= current_user.id) }}">
          {{ form.hidden_tag() }}
          {{form.pokemon.label(class='form-control')}}
          {{ form.pokemon() }}<br>
          {{form.action.label(class='form-control')}}
          {{ form.action() }}<br>
          {{ form.search() }}


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Release</button>
      </div>
    </div>
  </div>
</div>
    </form>
    </div></div>
  
{% if pokemon_set %}
<h1> Pokemon Party</h1>
<div class="card-container">
    {% for pokemon in pokemon_set%}
    <div class="card-container">
    <div class="card {{ pokemon.element }}-card" style="width: 18rem; color:white;">
      <img src="{{ pokemon.sprite }}" class="card-img-top" alt="Pokemon Sprite">
      <div class="card-body">
        <h5 class="card-title {{pokemon.element}}-card">{{ pokemon.number }}:{{ pokemon.name }}</h5>
        <p class="card-text {{pokemon.element}}-card"">{{ pokemon.name }} is a {{pokemon.element}} pokemon.</p>
      </div>
      <ul class="{{ pokemon.element }}-card">
        <li class="list-group-item">BASE HEALTH: {{ pokemon.base_hp }}</li>
        <li class="list-group-item">BASE DEFENSE: {{ pokemon.base_defense }}</li>
        <li class="list-group-item">BASE ATTACK: {{ pokemon.base_attack }}</li>
        <li class="list-group-item">ABILITIES: {{ pokemon.abilities }}</li>
      </ul>
      <div class="card-body">

        <input type="hidden" name="release_pokemon_name" value="{{ pokemon.name }}">
        <a href="{{ url_for('main.release_pokemon', user_id=current_user.id, pokemon_name=pokemon.name) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to release this Pokémon?')">Release!</a>
      </div>
    </div>
    </div>
    {% endfor %}
   </div>
  </table>
  <div class="form_container">
    <div class="grass_img">

    </div>
</div> 
{% endif %}
{% if storage %}
<table class="table">
    <h1> Stored pokemon </h1>
    <thead>
      <tr>
        <th scpoe="col">Sprite</th>
        <th scope="col">Pokedex Number</th>
        <th scope="col">Pokemon Name</th>
        <th scope="col">Type</th>
        <th scope="col">Base HP</th>
        <th scope="col">Base Defense</th>
        <th scope="col">Base Attack</th>
        <th scope="col">Ability</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {% for stored in storage %}
    <tr >
        <td><img src="{{ stored.sprite }}" alt="Pokemon Sprite"></td>
        <td>{{ stored.number }}</td>
        <td>{{ stored.name }}</td>
        <td>{{stored.element}}</td>
        <td>{{ stored.base_hp }}</td>
        <td>{{ stored.base_defense }}</td>
        <td>{{ stored.base_attack }}</td>
        <td>{{ stored.abilities }}</td>
        <td><input type="hidden" name="release_pokemon_name" value="{{ stored.name }}">
        <a href="{{ url_for('main.release_pokemon', user_id=current_user.id, pokemon_name=stored.name) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to release this Pokémon?')">Release!</a></td>
    </tr>
{% endfor %}
    </tbody>

  </table>
    <div class="form_container">
      <div class="grass_img">
      </div>
  </div>
  {% endif %}

    {% endblock %}