{% extends 'base.html' %}
{% block title %} All Trainers {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../static/styles/styles.css">
{% endblock %}
{% block content %}
    {% include "includes/nav.html" %}

    {%for trainer in trainers%}
    <div class="center-container">
        <h3> {{ trainer.first_name }}'s Pokémon:</h3>
    </div>
    <div class="card-container">
            {% for pokemon in trainer.partied_pokemon %}
            <div class="card-container">
                <div class="card {{ pokemon.element }}-card" style="width: 18rem; color:white; flex: 1;">
                  <img src="{{ pokemon.sprite }}" class="card-img-top" alt="Pokemon Sprite">
                  <div class="card-body">
                    <h5 class="card-title {{pokemon.element}}-card">{{ pokemon.number }}:{{ pokemon.name }}</h5>
                    <p class="card-text {{pokemon.element}}-card"">{{ pokemon.name }} is a {{pokemon.element}} pokemon.</p>
                  </div>
                  <ul class="{{ pokemon.element }}-card">
                    <li class="list-group-item">BASE HEALTH: {{ pokemon.base_hp }}</li>
                    <li class="list-group-item">BASE DEFENSE: {{ pokemon.base_defense }}</li>
                    <li class="list-group-item">BASE ATTACK: {{ pokemon.base_attack }}</li>
                    <li class="list-group-item">ABILITIES: {{ pokemon.abilities }}</li>
                  </ul>

                </div>
                </div>
            
        {% endfor %}
    </div>
        </tbody>
        </table>
        </div>
        <div class="battle-button"">
        <form method="POST" action="{{ url_for('main.battle', user_id1=current_user.id, user_id2=trainer.id) }}">
            <button type="submit" class="btn btn-primary">Battle</button>
        </form>
    </div>
            {% endfor %}

{% endblock %}