*{
    padding: 0;
    margin: 0;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 0vw 2vw;
}

.nav-button:hover {
    background-color: #0056b3;
}

body{
    background-color: #5e97d4;
    background-image: linear-gradient(45deg, #5e97d4 0%, #FFFB7D 100%);
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.fire-card {
    background-color: orangered;
}

.water-card {
    background-color:dodgerblue;
}

.grass-card {
    background-color: green;
}

.normal-card {
    background-color: grey;
}
.fighting-card{
    background-color: maroon;
}
.flying-card{
    background-color: plum;
}
.poison-card{
    background-color:blueviolet;
}
.ground-card{
    background-color: tan;
    color:black;
}
.rock-card{
    background-color:peru;
}
.bug-card{
    background-color: darkolivegreen;
}
.ghost-card{
    background-color: indigo;
}
.steel-card{
    background-color: silver;
}
.electric-card{
    background-color: yellow;
}
.psychic-card{
    background-color: fuchsia;
}
.ice-card{
    background-color:aqua;
}
.dragon-card{
    background-color: purple;
}
.dark-card{
    background-color: darkslategrey;
}
.fairy-card{
    background-color: hotpink;
}


.form_container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokeball_img {
    color: white;
    background-image: url("../images/pokeball.png");
    background-repeat: no-repeat;
    background-size: contain; 
    width: 100%; 
    height: auto; 
    padding: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.catch_release {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; 
}

.grass_img{
    background-image : url("../images/grass.jpg");
    width: 100%;
    height: 30vh;
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-responsive {
    overflow-x: auto;
}


@media (max-width: 768px) {

    .nav-list {
        flex-direction: column;
    }

    .nav-button {
        margin: 10px 0;
    }
    .card-container {
        justify-content: center;
    }
    
    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .pokeball_img {
        color: white;
        background-image: url("../images/pokeball.png");
        background-repeat: no-repeat;
        background-size: contain; 
        width: 100%; 
        height: auto; 
        padding: 10px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .form_container,
    .pokeball_img,
    .catch_release {
        margin: 0;
        padding: 10px;
    }
    
    .nav-container {
        margin: 0;
    }
    
    .nav-list {
        flex-direction: column;
        margin-top: 0;
    }
    
    nav button {
        margin: 5px 0;
    }
    
    .grass_img {
        height: 15vh;
    }
    .table-responsive {
        width: 100%;
        margin-bottom: 20px;
    }
}
