* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(75,152,227);
    background: linear-gradient(25deg, rgba(75,152,227,1) 0%, rgba(245,237,51,1) 100%);
    height: 150vh;
    min-height: 100vh;
}
.battle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.team1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
}
.team2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3vw;
}

.center-container{
    text-align: center;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}
.card-container:hover{
    position: relative; 
    top: -10px;
    transition: 1s;
}
.fire-card {
    background-color: orangered !important;
    color: white !important;
}

.water-card {
    background-color:dodgerblue !important;
    color: white !important;
}

.grass-card {
    background-color: green !important;
    color: white !important;
}

.normal-card {
    background-color: grey !important;
    color: white !important;
}
.fighting-card{
    background-color: maroon !important;
    color: white !important;
}
.flying-card{
    background-color: plum !important;
    color: black !important;
}
.poison-card{
    background-color:blueviolet !important;
    color: white !important;
}
.ground-card{
    background-color: tan !important;
    color:black !important;
}
.rock-card{
    background-color:peru !important;
    color: white !important;
}
.bug-card{
    background-color: darkolivegreen !important;
    color: white !important;
}
.ghost-card{
    background-color: indigo !important;
    color: white !important;
}
.steel-card{
    background-color: silver !important;
    color: black !important;
}
.electric-card{
    background-color: yellow !important;
    color: black !important;
}
.psychic-card{
    background-color:darkmagenta !important;
    color: white !important;
}
.ice-card{
    background-color:aqua !important;
    color: black !important;
}
.dragon-card{
    background-color: purple !important;
    color: white !important;
}
.dark-card{
    background-color: darkslategrey !important;
    color: white !important;
}
.fairy-card{
    background-color: hotpink !important;
    color: black !important;
}


.form_container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pokeball_img{
    color: white;
    background-image : url("../images/pokeball.png");
    background-repeat:no-repeat;
    width: 600px;
    height:550px;
    padding-left: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.catch_release{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 4vw;
    margin-top:5vh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.nav-list{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;

}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 75px;
}

.nav-left {
    flex: 1;
    padding: 0;
    margin: 0;
}

.nav-center {
    flex: 2;
    text-align: center;
}

.nav-right {
    flex: 1;
}
.grass_img{
    background-image : url("../images/grass.jpg");
    width: 100%;
    height: 30vh;
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: none;
}

.nav-button {
    display: inline-block;
    padding: 7px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 2vw;
    transition: background-color 0.3s ease;
    vertical-align: top;
    margin: 0 25px;
    height: 38px;
    width: 125px;
}

.nav-button:hover {
    background-color: #0056b3;
}
.table-responsive {
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table{
    width:75%;
}
.battle-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .card-container {
        justify-content: center;
    }
    
    .card {
        width: 100%;
        margin-bottom: 20px;
    }
    .form_container{
        width: 75%;
    }
    .form_container,
    .pokeball_img,
    .catch_release {
        margin: 0;
        padding: 10px;
    }
    
    .nav-container {
        margin: 0;
    }
    
    .nav-list {
        flex-direction: column;
        margin-top: 0;
    }
    
    nav button {
        margin: 5px 0;
    }
    
    .grass_img {
        height: 15vh;
    }
}
