*{
    padding: 0;
    margin: 0;
}
.card-container{
    margin-left: 10px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    width: 100vw;
    border: 1px solid black;
}

.form_container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokeball_img{
    color: white;
    background-image : url("../images/pokeball.png");
    background-repeat:no-repeat;
    width: 600px;
    height:550px;
    padding-left: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.catch_release{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3vw;
    margin-top:5vh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.nav-list{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;

}
nav button {
    background-color: blue;
    margin: 0 25px;
    height: 38px;
    width: 125px;
    border-radius: 5px;
}
nav button a{
    text-decoration: none;
    color: white;
}
.nav-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 75px;
}

.nav-left {
    flex: 1;
    padding: 0;
    margin: 0;
}

.nav-center {
    flex: 2;
    text-align: center;
}

.nav-right {
    flex: 1;
}
.grass_img{
    background-image : url("../images/grass.jpg");
    width: 100vw;
    height: 30vh;
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grassform{
    background-color:yellow;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px blue;
    border: 1px solid blue;
}
