{% extends 'base.html'%}

{% block styles %}
  <link rel="stylesheet" href="../static/styles/login.css">
{% endblock %}

{% block title %}
  Login Page
{% endblock %}

{% block content %}

  {% include "includes/nav.html" %}
  <div class="login-signup-container">
    <form method="POST" action='/' class="login-signup">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.email.label(class='form-label') }}
        {{ form.email(class='form-control', placeholder='Email Address')}}
      </div>
      <div class="mb-3">
        {{ form.password.label(class='form-label') }}
        {{ form.password(class='form-control', placeholder='Password') }}
      </div>
        {{ form.submit_btn(class='btn btn-primary') }}
    </form>
  </div>

{% endblock %}