{% block styles %}
  <link rel="stylesheet" href="../../static/styles/styles.css">
{% endblock %}
<nav>
    <div class="nav-container">
        <div class="nav-left">
            <img src="../../static/images/PBall-icon.png" alt="Bootstrap" width="30" height="24">
        </div>
        <div class="nav-center">
            <ul class="nav-list">
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('main.catchpokemon', user_id= current_user.id)}}" class="nav-button">pokemon list</a>
                </li>
                <li>
                    <a href="{{ url_for('main.all_pokemon') }}" class="nav-button">All Pokemon</a>
                </li>
                <li>
                    <a href="{{ url_for('auth.logout')}}" class="nav-button">signout</a>
                </li>
                <p class="fw-light">{{ current_user.first_name }}</p>
                {% else %}
                <li>
                    <button><a href="{{ url_for('auth.login') }}">Login</a></button>
                    <button><a href="{{url_for('auth.sign_up')}}">sign-up</a></button>
                    
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="nav-right"></div>
    </div>
</nav>