{% extends 'base.html' %}
{% block title %} Pokedex {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../static/styles/styles.css">
{% endblock %}
{% block content %}
  {% include "includes/nav.html" %}

    <div class = 'form_container'>
    <div class = 'pokeball_img'>
    <form method="POST">
        <div class="mb-3">
          <label for="pokedex" class="form-label">Pokemon:</label>
          <input type="text" class="form-control" id="pokedex" name="number">
        </div>
        <button type="submit" class="btn btn-primary">Search:</button>
    </form>
    </div></div>
  
{% if pokemon_set %}
<h1> Pokemon Party</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">sprite</th>
        <th scope="col">Pokedex Number</th>
        <th scope="col">Pokemon Name</th>
        <th scope="col">Base HP</th>
        <th scope="col">Base Defense</th>
        <th scope="col">Base Attack</th>
        <th scope="col">Ability</th>
      </tr>
    </thead>
    <tbody>
        {% for pokemon in pokemon_set %}
            <tr>
                <td><img src="{{ pokemon['sprite'] }}" alt="Pokemon Sprite"></td>
                <td>{{ pokemon.pokedex_number }}</td>
                <th>{{ pokemon.pokemon_name }}</th>
                <td>{{ pokemon.base_hp }}</td>
                <td>{{ pokemon.base_defense }}</td>
                <td>{{ pokemon.base_attack }}</td>
                <td>{{ pokemon.ability }}</td>
            </tr>
        {% endfor %}
    </tbody>
   
  </table>
  <div class="form_container">
    <div class="grass_img">
      <div class="grassform">
        <form method="POST">
            <input type="hidden" name="action" value="release">
            <div class="mb-3">
                <label for="party" class="form-label">Release:</label>
                <input type="text" class="form-control" id="party" name="partied" style="background-color: blue; color: white">
            </div>
            <button type="submit" class="btn btn-primary">Release</button>
        </form>
        <form method="POST">
            <input type="hidden" name="action" value="send_to_storage">
            <div class="mb-3">
                <label for="move_storage" class="form-label">Send to storage:</label>
                <input type="text" class="form-control" id="move_storage" name="move_to_storage" style="background-color: blue; color:white">
            </div>
            <button type="submit" class="btn btn-primary">Send to storage</button>
        </form>
      </div>
    </div>
</div> 
{% endif %}
{% if storage %}
<table class="table">
    <h1> Stored pokemon </h1>
    <thead>
      <tr>
        <th scope="col">Pokedex Number</th>
        <th scope="col">Pokemon Name</th>
        <th scope="col">Base HP</th>
        <th scope="col">Base Defense</th>
        <th scope="col">Base Attack</th>
        <th scope="col">Ability</th>
      </tr>
    </thead>
    {% for stored_pokemon in storage %}
    <tr>
        <td><img src="{{ stored_pokemon[0].sprite }}" alt="Pokemon Sprite"></td>
        <td>{{ stored_pokemon[0].pokedex_number }}</td>
        <td>{{ stored_pokemon[0].pokemon_name }}</td>
        <td>{{ stored_pokemon[0].base_hp }}</td>
        <td>{{ stored_pokemon[0].base_defense }}</td>
        <td>{{ stored_pokemon[0].base_attack }}</td>
        <td>{{ stored_pokemon[0].ability }}</td>
    </tr>
{% endfor %}
    </tbody>

  </table>
    <div class="form_container">
      <div class="grass_img">
        <div class="grassform">
          <form method="POST">
              <input type="hidden" name="action" value="remove">
              <div class="mb-3">
                  <label for="storage" class="form-label">Release:</label>
                  <input type="text" class="form-control" id="storage" name="stored" style="background-color: blue; color:white">
              </div>
              <button type="submit" class="btn btn-primary">Release</button>
          </form>
          <form method="POST">
              <input type="hidden" name="action" value="send_to_party">
              <div class="mb-3">
                  <label for="move_party" class="form-label">Send to Party:</label>
                  <input type="text" class="form-control" id="move_party" name="move_to_party" style="background-color: blue; color:white">
              </div>
              <button type="submit" class="btn btn-primary">Send to Party</button>
          </form>
        </div>
      </div>
  </div>
  {% endif %}

    {% endblock %}